{{ $req := findRE "//= require (\\S*)" .resource.Content }}
{{ $dir := path.Dir .resource.Name }}
{{ $imports := slice }}
{{ range $req }}
    {{ $imp := strings.TrimPrefix "//= require" . }}
    {{ $imp = trim $imp " " }}
    {{ $imp = printf "/%s.js" (path.Join $dir $imp) }}
    {{ if not ($.visited.Get $imp) }}
        {{ $.visited.Set $imp true }}
        {{ $nested := resources.Get $imp }}
        {{ if $nested }}
        {{ $imports = $imports | append  (partial "funcs/extract_js_requirements.html" (dict "resource" $nested "visited" $.visited )) }}
        {{ else }}
        {{ errorf "Lib not found: %q" . }}
        {{ end }}}
    {{ end }}
{{ $imports = $imports | append $imp }}
{{ end }}
{{ $imports = $imports | append .resource.RelPermalink }}
{{ return $imports }}
