{{ $combined := slice }}
{{ range . }}
    {{ $headers := findRE "<h\\d.*?>(.|\n)*?</h\\d>" .Content }}
    {{ $combined = $combined | append $headers }}
{{ end }}

{{ $toc := slice }}
{{ $previousH1 := dict }}
{{ $previousLevel := 0 }}
{{ $h2s := slice }}

{{ range $combined }}
    {{ $level := int (substr . 2 1) }}
    {{ if le $level 2 }}
        {{ $idTitle := split (. | replaceRE "<h\\d id=\"(.*?)\">(.*)</h\\d>" "$1|$2") "|" }} 
        {{ $item := dict "level" $level "id" (index $idTitle 0) "title" (index $idTitle 1) }}
        {{ if eq $level 1 }}
            {{ if ne $previousLevel 0 }}
                {{ $tocItem := merge $previousH1 (dict "sub" $h2s) }}
                {{ $toc = $toc | append $tocItem }}
                {{ $h2s = slice }}
            {{end}}
            {{ $previousH1 = $item }}
        {{ else }}
            {{ $h2s = $h2s | append $item }}
        {{ end }}
        {{ $previousLevel = $level }}
    {{ end }}
{{ end }}
{{ if ne $previousLevel 0 }}
    {{ $item := merge $previousH1 (dict "sub" $h2s) }}
    {{ $toc = $toc | append $item }}
{{ end }}
{{ return $toc }}
