.content {
  // prevent clearing of highlight divs
  & > div.highlight {
    clear: none;
  }
}

.toc-wrapper .toc-h3 {
  padding-left: 50px;
  font-size: 12px;
}

.da-toc-list-h2 {
  background-color: $nav-subitem-bg;
  font-weight: 500;
}
